* {
  box-sizing: border-box;
}

body {
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  color:white;
  letter-spacing: 1.25px;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

h1, h2 {
  margin: 0;
}

.wrapper {
	width: 600px;
  text-align: center;
}

.displayHelp {
  display: none
}

#howTravelPodWorks {
border: 1px solid black;
background-color: rgb(30, 101, 255);
color: white;
box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.37);
padding: 10px;
border-radius: 1%;
font-family: 'Staatliches', Arial, Helvetica, sans-serif;
font-size: 14px;
}

#howTravelPodWorks:hover {
border: 1px solid black;
background-color: rgb(117, 160, 255);
color: white;
text-shadow: 0 0 3px blue, 0 0 5px blue;
box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.37);
padding: 10px;
border-radius: 1%;
font-family: 'Staatliches', Arial, Helvetica, sans-serif;
font-size: 14px;
}

#howItWorksSection {
}

/* FORM SECTION------------------------------------------------- */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

fieldset {
  background-color: rgb(30, 101, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1%;
  margin: auto;
  padding: 30px 45px 15px;
  width: 350px;
}

fieldset:hover {
  background-color: rgb(117, 160, 255);
  border: 2px solid rgb(0, 0, 0);
  text-shadow: 0 0 3px blue, 0 0 5px blue;
  border-radius: 1%;
  margin: auto;
  padding: 30px 45px 15px;
  width: 350px;
}

label {
  float: left;
  font-size: 18px;
}

input {
  display: block;
  width: 100%;
  border: 1px solid blue;
  box-shadow: 3px 3px 2px 3px blue;
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 1%;
}

input[type=submit] {
  width: 20%;
  float: right;
  border: 1px solid black;
  background-color: rgb(30, 101, 255);
  color: white;
  box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.37);
  padding: 7px 0px;
  border-radius: 5%;
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: rgb(82, 137, 255);
  text-shadow: 0 0 3px blue, 0 0 5px blue;
}

::placeholder {
  opacity: .5;
  font-size: 16px;
}

.yourTripStyle {
  padding-top: 25px;
  font-size: 18px;
}

#splitBar {
  padding: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item{
  flex: 1;
  text-align: center;
}

ul {
  list-style-type: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1%;
  background-color: rgb(30, 101, 255);
  margin: 0;
  padding: 20px;
  width: 350px;
}

.episodeItem {
  padding: 15px;
}

.episodeItem img {
  height: 200px;
  width: 200px;
}

/* MEDIA SECTION------------------------------------------------- */
  @media all and (min-width:800px) {
    h1 {
    font-size: 106px;
  }
  h2 {
    font-size: 42px;
  }
  fieldset, fieldset:hover {
    width: 450px;
    padding: 25px  50px;
  }
  ul {
  list-style-type: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1%;
  background-color: rgb(30, 101, 255);
  margin: 0;
  padding: 20px;
  width: 600px;
  }
}
